body {
    background-color: #e8e8e8;
}
.header {
    font-size: 30px;
    padding: 10px;
    background-color: #2e6da4;
}
a {
    color: whitesmoke;
    text-decoration: none;
    font-style: italic;
}
.container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 960px;
}
h2 {
    font-size: 30px;
    color: #5cb85c;
    padding: 30px 0px;
}
a.main-link {
    height: 200px;
    background-color: #4cae4c;
    margin: 20px;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 30px;
}
a.main-link:hover {
    background-color: #5cb85c;
}
a.menu {
    font-size: 14px;
}
.footer {
    margin-top: 50px;
    text-align: right;
    background-color: #2e6da4;
}
.footer p {
    font-size: 12px;
    padding: 10px;
    color: whitesmoke;
}
form {
    width: 400px;
    margin: 10px auto;
}
form p {
    width: 400px;
    padding-bottom: 10px;
}
.form-input {
    display: block;
    width: 300px;
    height: 20px;
}
.form-submit {
    padding: 6px;
}
.red {
    color: #b92c28;
}
.client-info {
    font-size:16px;
    font-style: italic;
}
.client-info p {
    padding: 10px;
}



